<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card uploadForm">
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" action="/upload">
            <div class="form-group row">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="file">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <small id="fileHelp" class="form-text text-muted">You can also drag and drop files here.</small>
            </div>
            <div class="form-group row">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
  bsCustomFileInput.init()
</script>
</body>
</html>
