
.Content {
  background: #ECECEC;
}

.Header {
  border-radius: 15px 15px 0px 0px;
}

.Main {
}

.Footer {
  border-radius: 0px 0px 15px 15px;
}

.Button {
  border-radius: 5px 5px 5px 5px;
  background: #C0D0C0;
  margin-bottom: 10px;
}

.Button-Icons {
}

.Button-Description {
}

