body {
  margin: 0px 0px;
  font-family: Helvetica;
}

.Content {
  background: #ECECEC;
  border-right: 1px solid #DDDDDD;
}

.Header {
  background: #242623;
  border-top: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.Header img {
  margin-right: 5px;
}

h1 {
  color: #FFFFFF;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.4em;
  margin-top: 0.3em;
}

h1 a, a:active, a:hover, a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.Main {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Footer {
  border-radius: 0px 0px 15px 15px;
}

.Button {
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  background: #85CE10;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: 400;
  padding: 5px;
  box-shadow: 0px 0px 1px grey;
}

.Button:hover {
  background: #7CC10D;
  box-shadow: 1px 1px 5px grey;
}

.Button:active {
  background: #47a508;
}

.Button-Label {
  font-weight: 300;
  font-size: 1.2em;
}

.Button-Label svg {
  margin-right: 0.3em;
}

.Button-Label span {
  margin-left: 0.6em;
}

.BrowseButton {
  cursor: pointer;
  background: #DDDDDD;
  color: #404040;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 400;
  padding: 5px;
  box-shadow: 0px 0px 1px grey;
}

.BrowseButton:hover {
  background: #808080;
  color: #DDDDDD;
  box-shadow: 1px 1px 5px grey;
}

.BrowseButton:active {
  background: #DDDDDD;
  color: #808080;
}

.BrowseButton-Label {
  font-weight: 300;
  font-size: 1.2em;
}

.FilePath {
  font-size: 1.2em;
  font-weight: 200;
  border-bottom: 1px solid #DDDDDD;
  color: #AAAAAA;
}

input {
  display: none;
}

.LoadingBox {
  position:absolute;
  top:30%;
  left:50%;
  transform:translate(-50%, -50%);
  color: white;
  background: #000000;
  opacity: .8;
  z-index: 1000;
  padding: 2em;
  border-radius: 5px 5px 5px 5px;
}
